.collections {

    &__div {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__title,
        &__view {
            @include font-style-2;
            display: inline-flex;
        }

    }

    &__card-div {
        display: flex;
        justify-content: space-between;
    }

    &__card {
        color: $white;
        width: 433.76px;
        height: 560.89px;

        border: {
            width: 2.88px;
            style: solid;
            image-source: linear-gradient(145.77deg, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0) 105.76%);
            image-slice: 1;
            image-width: 2.88px;
            image-outset: 0;
        }
    }

    &__card-background {
        width: 431.13px;
        height: 205.62px;
        position: relative;
        background: url('../assets/images/unsplash_NTYYL9Eb9y8.png');
        background: {
            repeat: no-repeat;
            position: center;
        }

    }

    &__card-content {
        padding: 43px 0 28px 0;
        text-align: center;
        background: linear-gradient(145.77deg, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0) 105.76%),
            linear-gradient(90deg, rgba(255, 255, 255, 0.1) -1.52%, rgba(255, 255, 255, 0.024) 104.35%);
    }

    &__card-content__img {
        position: absolute;
        transform: translate(-50%, -80%);
    }

    &__card-content__title {
        font-family: $font-Rajdhani;
        font-size: 24px;
        font-weight: 500;
        line-height: 46px;
        letter-spacing: 0;
        text-align: center;
        margin-bottom: 0;
    }

    &__card-content__user {
        font-family: $font-Rajdhani;
        font-size: 20px;
        font-weight: 400;
        line-height: 46px;
        letter-spacing: 0;
        text-align: left;
        color: $pink;
        display: inline;
    }

    &__card-content__list {
        list-style: none;
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin-bottom: 30px;
    }

    &__card-content__list__span {
        font-family: $font-Rajdhani;
        font-size: 30px;
        font-weight: 600;
        line-height: 38px;
        letter-spacing: 0;
        text-align: center;
        display: block;
    }

    &__card-content__list li {
        font-family: $font-Rajdhani;
        font-size: 20px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0;
        text-align: center;
    }

    &__card-content__btn {
        @include gradient-btn;
    }
}