.footer {
    display: flex;
    flex-wrap: wrap;
    gap: 17.69px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 0;
    border-right: 0;
    padding: 100px 0;
}

.footer__column:first-child {
    flex: 2;
}

.footer__column {
    flex: 1;

    &__logo {
        width: 17px;
        height: 27px;
        display: flex;
        box-shadow: 0px 4.421836853027344px 107.22954559326172px 0px rgba(255, 86, 246, 0.51);
    }

    &__logo-text {
        font-family: $font-Orbitron;
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0;
        text-align: left;
        color: $white;

    }

    &__title {
        font-family: $font-Inter;
        font-size: 20px;
        font-weight: 500;
        line-height: 31px;
        letter-spacing: 0;
        text-align: left;
        color: $white;
        margin: 0;
    }



    &__list li {
        margin: 13.27px 0;
    }

    &__text,
    &__list {
        list-style: none;
        padding: 0;
        color: $light-grey;
        font-family: $font-Inter;
        font-size: 15px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0;
        margin: 30px 0;
    }

    &__social-icons {
        display: flex;
        gap: 17.69px;
    }

    &__span {
        font-family: $font-MuseoModerno;
        font-size: 22px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0;
        text-align: left;
        color: $blue;
        margin-left: 5px;
    }
}



.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $light-grey;

    font: {
        family: $font-Inter;
        size: 15px;
        weight: 400;
    }

    line-height: 27px;
    letter-spacing: 0;
    text-align: left;
}

.copyright__text {
    margin-right: auto;
}

.copyright__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    &__link {
        padding: 0 10px;
        border-right: 1px solid #D9DBE1;
        color: $light-grey;
        text-decoration: none;

    }

    li:last-child a {
        border-right: 0;
    }
}