.footer {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 0;
    border-right: 0;
}

.footer__column {
    flex: 1;
    padding: 10px;

    &__logo {
            width: 17px;
            height: 27px;
            mask-mode: luminance;
            fill: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
        box-shadow: 0px 4.421836853027344px 107.22954559326172px 0px rgba(255, 86, 246, 0.51);
        }

    &__logo-text {
        font-family: Orbitron;
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
    }

    &__title {
        font-family: Inter;
        font-size: 20px;
        font-weight: 500;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
    }

    &__text,
    &__list {
        list-style: none;
        padding: 0;
        color: #D9DBE1;
        font-family: Inter;
        font-size: 15px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;

    }

    &__span {
        font-family: MuseoModerno;
        font-size: 22px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        color: #2EC5CE;
    }
}



.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #D9DBE1;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}

.copyright__text {
    margin-right: auto;
}

.copyright__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    &__link {
        padding: 0 10px;
        border-right: 1px solid #D9DBE1;
        color: #D9DBE1;
        text-decoration: none;
        
    }

        li:last-child a {
            border-right: 0;
        }
}

