.footer {
    display: flex;
    flex-wrap: wrap;
border: 1px solid rgba(255, 255, 255, 0.2);
border-left: 0;
border-right: 0;
}

.footer__column {
    flex: 1;
    padding: 10px;
}

.footer__column__logo {
    font-family: Orbitron;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.footer__column__title {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.footer__column__text,
.footer__column__list {
    list-style: none;
    padding: 0;
    color: #D9DBE1;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;

}

.footer__column__span {
    font-family: MuseoModerno;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #2EC5CE;
}

.copyright {
    display: flex;
        justify-content: space-between;
        align-items: center;
    color: #D9DBE1;
    font-family: Inter;
        font-size: 15px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
}

.copyright__text {
    margin-right: auto;
}

.copyright__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.copyright__list__link {
        padding: 0 10px;
            border-right: 1px solid #D9DBE1;
color: #D9DBE1;
text-decoration: none;
    // &:last-child {
    //             border-right: 0;
    // }
}

