

.header {
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav__logo {

    display: flex;
    font-family: $font-Orbitron;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: $white;
  }

  &__nav__logo svg {
    width: 16.58px;
    height: 26.81px;
    box-shadow: 0px 4.421836853027344px 107.22954559326172px 0px rgba(255, 86, 246, 0.51);
  }

  &__nav__logo-text {
    color: $grey;
  }

  &__nav__menu {
    display: none;
  }

  &__nav__list {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 66.33px;
    padding: 11.05px;
  }

  &__nav__item {
    font-family: $font-Orbitron;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: $grey;
    padding: 11.05px;
  }

  &__nav__icons {
    display: flex;
    align-items: center;
  }

  &__nav__icons img {
    margin: 20px;
  }
}

.header__main__content {
  display: flex;
  justify-content: space-between;

  &__left-div {

    &__title {
      font-family: $font-Spartan;
      font-size: 66px;
      font-weight: 600;
      line-height: 91px;
      letter-spacing: 0em;
      text-align: left;
      color: $white;
      width: 848px;
      height: 156px;


    }

    &__title-span {
      background: linear-gradient(272.38deg, #43a5e3 46.06%, #ff56f6 81.53%),
        linear-gradient(0deg, #ffffff, #ffffff);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }

    &__text {
      font-family: $font-Rajdhani;
      font-size: 26px;
      font-weight: 400;
      line-height: 44px;
      letter-spacing: 0em;
      text-align: left;
      color: $white;
      width: 657.75px;
    }

    &__btn {
      @include gradient-btn;
      display: inline-block;
    }

    &__paragraph {
      font-family: $font-Orbitron;
      font-size: 20px;
      font-weight: 700;
      line-height: 25px;
      letter-spacing: 0em;
      text-align: left;
      background: linear-gradient(89.89deg, #42a6e3 2.33%, #ff56f6 101.4%);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      display: inline;
      margin-left: 25px;
    }

    &__list {
      list-style: none;
      display: flex;
      padding: 0;
      margin: 50px 0;
    }

    &__list li {
      font-family: Alethia Next;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.2210918515920639px;
      text-align: left;
      color: $white;
      padding: 0 30px;
      border-right: 1.11px solid #FFFFFF42;
    }

    &__list li:first-child {
      padding-left: 0;
    }

    &__list li:last-child {
      border-right: 0;
    }

    &__list-span {
      display: block;
      font-family: $font-Aldrich;
      font-size: 40px;
      font-weight: 400;
      line-height: 53px;
      letter-spacing: 0.2210918515920639px;
      text-align: left;
      color: $white;
    }
  }


}

.logo-section {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;

  img:first-child {
    width: 265.31px;
    height: 53.06px;
  }

  img:nth-child(2) {
    width: 170.24px;
    height: 53.06px;
  }

  img:nth-child(3) {
    width: 349.33px;
    height: 53.06px;
  }

  img:last-child {
    width: 196.4px;
    height: 31.37px;
  }
}