.main__content {

  display: flex;
  justify-content: space-between;
  
  &__title {
    font-family: $font-Spartan;
    font-size: 66px;
    font-weight: 600;
    line-height: 91px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    width: 848px;
    height: 156px;
  }

  &__title-span {
    background: linear-gradient(272.38deg, #43a5e3 46.06%, #ff56f6 81.53%),
      linear-gradient(0deg, #ffffff, #ffffff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  &__text {
    font-family: $font-Rajdhani;
    font-size: 26px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    width: 657.75px;
  }

  &__btn {
    @include gradient-btn;
  }

  &__heading {
    font-family: $font-Orbitron;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    background: linear-gradient(89.89deg, #42a6e3 2.33%, #ff56f6 101.4%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline;
  }

  &__list {
    list-style: none;
      display: flex;
      padding: 0;
  }

  &__list li {
    font-family: Alethia Next;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.2210918515920639px;
      text-align: left;
      color: #FFFFFF;
      padding: 0 30px;
      border-right: 1.11px solid #FFFFFF42;
  }

    &__list li:first-child {
      padding-left: 0;
    }

         &__list li:last-child {
           border-right: 0;
         }

  &__list-span{
    display: block;
    font-family: $font-Aldrich;
      font-size: 40px;
      font-weight: 400;
      line-height: 53px;
      letter-spacing: 0.2210918515920639px;
      text-align: left;
      color: #FFFFFF;
  }
}

.main__content__logo__section {
  display: flex;
  justify-content: space-between;

  img:first-child {
    width: 265.31px;
    height: 53.06px;
  }
  img:nth-child(2) {
    width: 170.24px;
    height: 53.06px;
  }
  img:nth-child(3) {
    width: 349.33px;
    height: 53.06px;
  }
  img:last-child {
    width: 196.4px;
    height: 31.37px;
  }
}
