

.top-sellers {
  &__title {
    font: {
      family: Orbitron;
      size: 26px;
      weight: 700;
    }

    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
  }

  &__span {
    color: #ff56f6;
  }

  &__text {
    width: 506px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
  }

  &__section-box {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    color: #ffffff;


  }

  &__btn {
    @include gradient-btn;
  }


}