* {
  box-sizing: border-box;
}

body {
  background: #20083B 75%;
  padding: 42.01px 103px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav__logo {
  display: flex;
  font-family: Orbitron, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}
.header__nav__logo svg {
  width: 16.58px;
  height: 26.81px;
  box-shadow: 0px 4.421836853px 107.2295455933px 0px rgba(255, 86, 246, 0.51);
}
.header__nav__logo-text {
  color: rgba(255, 255, 255, 0.6);
}
.header__nav__menu {
  display: none;
}
.header__nav__list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 66.33px;
  padding: 11.05px;
}
.header__nav__item {
  font-family: Orbitron, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
  padding: 11.05px;
}
.header__nav__icons {
  display: flex;
  align-items: center;
}
.header__nav__icons img {
  margin: 20px;
}

.header__main__content {
  display: flex;
  justify-content: space-between;
}
.header__main__content__left-div__title {
  font-family: League Spartan, sans-serif;
  font-size: 66px;
  font-weight: 600;
  line-height: 91px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  width: 848px;
  height: 156px;
}
.header__main__content__left-div__title-span {
  background: linear-gradient(272.38deg, #43a5e3 46.06%, #ff56f6 81.53%), linear-gradient(0deg, #ffffff, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.header__main__content__left-div__text {
  font-family: Rajdhani, sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  width: 657.75px;
}
.header__main__content__left-div__btn {
  width: 234.84px;
  height: 50.85px;
  display: block;
  margin: 0 auto;
  font-family: Rajdhani, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
  border: 2.41px solid transparent;
  border-image-source: linear-gradient(272.52deg, #ffa6fa 47.49%, #3c79d5 98.81%);
  border-image-slice: 1;
  border-image-width: 2.41px;
  border-image-outset: 0;
  background: linear-gradient(92.23deg, #ff56f6 21.43%, #b936ee 50.63%, #3bace2 100%, #406aff 117.04%);
  box-shadow: 0px 5px 117px 0px rgba(255, 86, 246, 0.5098039216);
  display: inline-block;
}
.header__main__content__left-div__paragraph {
  font-family: Orbitron, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  background: linear-gradient(89.89deg, #42a6e3 2.33%, #ff56f6 101.4%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline;
  margin-left: 25px;
}
.header__main__content__left-div__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 50px 0;
}
.header__main__content__left-div__list li {
  font-family: Alethia Next;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.2210918516px;
  text-align: left;
  color: #FFFFFF;
  padding: 0 30px;
  border-right: 1.11px solid rgba(255, 255, 255, 0.2588235294);
}
.header__main__content__left-div__list li:first-child {
  padding-left: 0;
}
.header__main__content__left-div__list li:last-child {
  border-right: 0;
}
.header__main__content__left-div__list-span {
  display: block;
  font-family: Aldrich, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 53px;
  letter-spacing: 0.2210918516px;
  text-align: left;
  color: #FFFFFF;
}

.logo-section {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
}
.logo-section img:first-child {
  width: 265.31px;
  height: 53.06px;
}
.logo-section img:nth-child(2) {
  width: 170.24px;
  height: 53.06px;
}
.logo-section img:nth-child(3) {
  width: 349.33px;
  height: 53.06px;
}
.logo-section img:last-child {
  width: 196.4px;
  height: 31.37px;
}

.collections__div {
  display: flex;
  align-items: center;
}
.collections__div__title, .collections__div__view {
  font-family: Orbitron, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0;
  text-align: left;
  color: #FFFFFF;
}
.collections__card-div {
  display: flex;
  justify-content: space-between;
}
.collections__card {
  color: #FFFFFF;
  width: 433.76px;
  height: 560.89px;
  border-width: 2.88px;
  border-style: solid;
  border-image-source: linear-gradient(145.77deg, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0) 105.76%);
  border-image-slice: 1;
  border-image-width: 2.88px;
  border-image-outset: 0;
}
.collections__card-background {
  width: 431.13px;
  height: 205.62px;
  position: relative;
  background: url("../assets/images/unsplash_NTYYL9Eb9y8.png");
  background-repeat: no-repeat;
  background-position: center;
}
.collections__card-content {
  padding: 43px 0 28px 0;
  text-align: center;
  background: linear-gradient(145.77deg, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0) 105.76%), linear-gradient(90deg, rgba(255, 255, 255, 0.1) -1.52%, rgba(255, 255, 255, 0.024) 104.35%);
}
.collections__card-content__img {
  position: absolute;
  transform: translate(-50%, -80%);
}
.collections__card-content__title {
  font-family: Rajdhani, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 46px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 0;
}
.collections__card-content__user {
  font-family: Rajdhani, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0;
  text-align: left;
  color: #FFB1EE;
  display: inline;
}
.collections__card-content__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin-bottom: 30px;
}
.collections__card-content__list__span {
  font-family: Rajdhani, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0;
  text-align: center;
  display: block;
}
.collections__card-content__list li {
  font-family: Rajdhani, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0;
  text-align: center;
}
.collections__card-content__btn {
  width: 234.84px;
  height: 50.85px;
  display: block;
  margin: 0 auto;
  font-family: Rajdhani, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
  border: 2.41px solid transparent;
  border-image-source: linear-gradient(272.52deg, #ffa6fa 47.49%, #3c79d5 98.81%);
  border-image-slice: 1;
  border-image-width: 2.41px;
  border-image-outset: 0;
  background: linear-gradient(92.23deg, #ff56f6 21.43%, #b936ee 50.63%, #3bace2 100%, #406aff 117.04%);
  box-shadow: 0px 5px 117px 0px rgba(255, 86, 246, 0.5098039216);
}

.subscribe {
  display: flex;
  align-items: center;
  padding: 100px 0;
}
.subscribe__image {
  flex: 1;
  width: 698.65px;
  height: 289.63px;
  border-radius: 4.42px;
}
.subscribe__content {
  flex: 2;
  padding-left: 60px;
}
.subscribe__content__title {
  font-family: Orbitron, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0;
  text-align: left;
  color: #FFFFFF;
}
.subscribe__content__text {
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #FFFFFF;
  word-wrap: break-word;
}
.subscribe__content__form__input {
  color: #474a57;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0;
  text-align: left;
  padding: 15.48px 17.69px 15.48px 17.69px;
  border: transparent;
  border-radius: 5.53px 0 0 5.53px;
}
.subscribe__content__form__btn {
  width: 143.71px;
  height: 48.64px;
  border-radius: 0 5.53px 5.53px 0;
  border-image-source: linear-gradient(272.52deg, #ffa6fa 47.49%, #3c79d5 98.81%);
  border-image-slice: 1;
  border-image-width: 2.41px;
  border-image-outset: 0;
  cursor: pointer;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0;
  text-align: center;
  color: #FFFFFF;
  background: linear-gradient(92.23deg, #ff56f6 21.43%, #b936ee 50.63%, #3bace2 100%, #406aff 117.04%), linear-gradient(272.52deg, #ffa6fa 47.49%, #3c79d5 98.81%);
  background-origin: border-box;
  box-shadow: 0px 5px 117px 0px rgba(255, 86, 246, 0.5098039216);
}

.footer {
  display: flex;
  flex-wrap: wrap;
  gap: 17.69px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 0;
  border-right: 0;
  padding: 100px 0;
}

.footer__column:first-child {
  flex: 2;
}

.footer__column {
  flex: 1;
}
.footer__column__logo {
  width: 17px;
  height: 27px;
  display: flex;
  box-shadow: 0px 4.421836853px 107.2295455933px 0px rgba(255, 86, 246, 0.51);
}
.footer__column__logo-text {
  font-family: Orbitron, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0;
  text-align: left;
  color: #FFFFFF;
}
.footer__column__title {
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0;
  text-align: left;
  color: #FFFFFF;
  margin: 0;
}
.footer__column__list li {
  margin: 13.27px 0;
}
.footer__column__text, .footer__column__list {
  list-style: none;
  padding: 0;
  color: #D9DBE1;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0;
  margin: 30px 0;
}
.footer__column__social-icons {
  display: flex;
  gap: 17.69px;
}
.footer__column__span {
  font-family: MuseoModerno, cursive;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0;
  text-align: left;
  color: #2EC5CE;
  margin-left: 5px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #D9DBE1;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0;
  text-align: left;
}

.copyright__text {
  margin-right: auto;
}

.copyright__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.copyright__list__link {
  padding: 0 10px;
  border-right: 1px solid #D9DBE1;
  color: #D9DBE1;
  text-decoration: none;
}
.copyright__list li:last-child a {
  border-right: 0;
}

@media (max-width: 768px) {
  body {
    padding: 26px;
    margin: 0;
  }
  .header__nav__list, .header__nav__icons {
    display: none;
  }
  .header__nav__menu {
    display: block;
  }
  .header__main__content {
    flex-wrap: wrap;
  }
  .header__main__content__left-div__title {
    font-size: 42px;
    line-height: 58px;
    width: 100%;
  }
  .header__main__content__left-div__text {
    font-size: 14px;
    line-height: 23px;
    width: 100%;
  }
  .header__main__content__left-div__btn {
    width: 133.31px;
    height: 34.21px;
    font-size: 12px;
    line-height: 15px;
  }
  .header__main__content__left-div__paragraph {
    font-size: 12px;
    line-height: 15px;
  }
  .header__main__content__left-div__list-span {
    font-size: 18px;
    line-height: 28px;
  }
  .header__main__content__left-div__list li {
    font-size: 12px;
    line-height: 12px;
  }
  .header__main__content__right-div img {
    width: 100%;
    height: auto;
  }
  .logo-section {
    gap: 20px;
    align-items: center;
    flex-direction: column;
  }
  .collections__div__title, .collections__div__view {
    font-size: 18px;
    line-height: 23px;
  }
  .collections__card-div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .collections__card, .collections__card-background {
    width: 100%;
  }
  .subscribe {
    flex-wrap: wrap;
  }
  .subscribe__image {
    width: 100%;
    height: auto;
    order: 2;
    margin-top: 30px;
  }
  .subscribe__content {
    width: 100%;
    padding-left: 0;
  }
  .subscribe__content__title {
    font-size: 26px;
    line-height: 33px;
  }
  .subscribe__content__text {
    font-size: 13px;
    line-height: 23px;
  }
  .subscribe__content__form__input {
    width: 180.97px;
    height: 35.03px;
    font-size: 10px;
    line-height: 18px;
  }
  .subscribe__content__form__btn {
    width: 94.86px;
    height: 32.11px;
    font-size: 10.22px;
  }
}

/*# sourceMappingURL=style.css.map */
