body {
  background: #20083B 75%;
}

.top-sellers__title {
  font-family: Orbitron;
  font-size: 26px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}
.top-sellers__span {
  color: #ff56f6;
}
.top-sellers__text {
  width: 506px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
}
.top-sellers__section-box {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  color: #ffffff;
}
.top-sellers__btn {
  width: 234.84px;
  height: 50.85px;
  display: block;
  margin: 0 auto;
  font-family: Rajdhani;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  border: 2.41px solid transparent;
  border-image-source: linear-gradient(272.52deg, #ffa6fa 47.49%, #3c79d5 98.81%);
  border-image-slice: 1;
  border-image-width: 2.41px;
  border-image-outset: 0;
  background: linear-gradient(92.23deg, #ff56f6 21.43%, #b936ee 50.63%, #3bace2 100%, #406aff 117.04%);
  box-shadow: 0px 5px 117px 0px rgba(255, 86, 246, 0.5098039216);
}

.subscribe {
  display: flex;
  align-items: center;
}

.subscribe__image {
  flex: 1;
  width: 698.65px;
  height: 289.63px;
  border-radius: 4.42px;
}

.subscribe__content {
  flex: 2;
  padding-left: 60px;
}
.subscribe__content__title {
  font-family: Orbitron;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0;
  text-align: left;
  color: #FFFFFF;
}
.subscribe__content__text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #FFFFFF;
  word-wrap: break-word;
}
.subscribe__content__input {
  color: #474A57;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0;
  text-align: left;
  padding: 16px 18px 16px 18px;
  border-radius: 5.53px 0 0 5.53px;
}
.subscribe__content__btn {
  width: 143.71px;
  height: 48.64px;
  border-radius: 0 5.53px 5.53px 0;
  border: 2.41px solid transparent;
  border-image-source: linear-gradient(272.52deg, #FFA6FA 47.49%, #3C79D5 98.81%);
  border-image-slice: 1;
  border-image-width: 2.41px;
  border-image-outset: 0;
  cursor: pointer;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0;
  text-align: center;
  color: #FFFFFF;
  background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%), linear-gradient(272.52deg, #FFA6FA 47.49%, #3C79D5 98.81%);
  background-origin: border-box;
  box-shadow: 0px 5px 117px 0px rgba(255, 86, 246, 0.5098039216);
}

.footer {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 0;
  border-right: 0;
}

.footer__column {
  flex: 1;
  padding: 10px;
}
.footer__column__logo {
  font-family: Orbitron;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}
.footer__column__title {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}
.footer__column__text, .footer__column__list {
  list-style: none;
  padding: 0;
  color: #D9DBE1;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
}
.footer__column__span {
  font-family: MuseoModerno;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #2EC5CE;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #D9DBE1;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}

.copyright__text {
  margin-right: auto;
}

.copyright__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.copyright__list__link {
  padding: 0 10px;
  border-right: 1px solid #D9DBE1;
  color: #D9DBE1;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
