body {
  background: #20083B 75%;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.main__content {
  display: flex;
  justify-content: space-between;
}
.main__content__title {
  font-family: League Spartan, sans-serif;
  font-size: 66px;
  font-weight: 600;
  line-height: 91px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  width: 848px;
  height: 156px;
}
.main__content__title-span {
  background: linear-gradient(272.38deg, #43a5e3 46.06%, #ff56f6 81.53%), linear-gradient(0deg, #ffffff, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.main__content__text {
  font-family: Rajdhani, sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  width: 657.75px;
}
.main__content__btn {
  width: 234.84px;
  height: 50.85px;
  display: block;
  margin: 0 auto;
  font-family: Rajdhani, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  border: 2.41px solid transparent;
  border-image-source: linear-gradient(272.52deg, #ffa6fa 47.49%, #3c79d5 98.81%);
  border-image-slice: 1;
  border-image-width: 2.41px;
  border-image-outset: 0;
  background: linear-gradient(92.23deg, #ff56f6 21.43%, #b936ee 50.63%, #3bace2 100%, #406aff 117.04%);
  box-shadow: 0px 5px 117px 0px rgba(255, 86, 246, 0.5098039216);
}
.main__content__heading {
  font-family: Orbitron, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  background: linear-gradient(89.89deg, #42a6e3 2.33%, #ff56f6 101.4%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline;
}
.main__content__list {
  list-style: none;
  display: flex;
  padding: 0;
}
.main__content__list li {
  font-family: Alethia Next;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.2210918516px;
  text-align: left;
  color: #FFFFFF;
  padding: 0 30px;
  border-right: 1.11px solid rgba(255, 255, 255, 0.2588235294);
}
.main__content__list li:first-child {
  padding-left: 0;
}
.main__content__list li:last-child {
  border-right: 0;
}
.main__content__list-span {
  display: block;
  font-family: Aldrich, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 53px;
  letter-spacing: 0.2210918516px;
  text-align: left;
  color: #FFFFFF;
}

.main__content__logo__section {
  display: flex;
  justify-content: space-between;
}
.main__content__logo__section img:first-child {
  width: 265.31px;
  height: 53.06px;
}
.main__content__logo__section img:nth-child(2) {
  width: 170.24px;
  height: 53.06px;
}
.main__content__logo__section img:nth-child(3) {
  width: 349.33px;
  height: 53.06px;
}
.main__content__logo__section img:last-child {
  width: 196.4px;
  height: 31.37px;
}

.collections__div {
  display: flex;
  align-items: center;
}
.collections__div__title {
  font-family: Orbitron, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  flex: 1;
}
.collections__div__view {
  font-family: Orbitron, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
.collections__card-div {
  display: flex;
  justify-content: space-between;
}
.collections__card {
  color: #FFFFFF;
  width: 437.76px;
  height: 564.89px;
  border: 2.88px solid;
}
.collections__card-background {
  width: 431.13px;
  height: 205.62px;
  background: url("../assets/images/unsplash_NTYYL9Eb9y8.png");
  background-repeat: no-repeat;
}
.collections__card-content {
  position: relative;
}
.collections__card-content__img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -80%);
}
.collections__card-content__title {
  font-family: Rajdhani, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 46px;
  letter-spacing: 0px;
  text-align: center;
}
.collections__card-content__user {
  font-family: Rajdhani, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFB1EE;
  display: inline;
}
.collections__card-content__btn {
  width: 234.84px;
  height: 50.85px;
  display: block;
  margin: 0 auto;
  font-family: Rajdhani, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  border: 2.41px solid transparent;
  border-image-source: linear-gradient(272.52deg, #ffa6fa 47.49%, #3c79d5 98.81%);
  border-image-slice: 1;
  border-image-width: 2.41px;
  border-image-outset: 0;
  background: linear-gradient(92.23deg, #ff56f6 21.43%, #b936ee 50.63%, #3bace2 100%, #406aff 117.04%);
  box-shadow: 0px 5px 117px 0px rgba(255, 86, 246, 0.5098039216);
}

.top-sellers__title {
  font-family: Orbitron, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}
.top-sellers__span {
  color: #ff56f6;
}
.top-sellers__text {
  width: 506px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
}
.top-sellers__section-box {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  color: #ffffff;
}
.top-sellers__btn {
  width: 234.84px;
  height: 50.85px;
  display: block;
  margin: 0 auto;
  font-family: Rajdhani, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  border: 2.41px solid transparent;
  border-image-source: linear-gradient(272.52deg, #ffa6fa 47.49%, #3c79d5 98.81%);
  border-image-slice: 1;
  border-image-width: 2.41px;
  border-image-outset: 0;
  background: linear-gradient(92.23deg, #ff56f6 21.43%, #b936ee 50.63%, #3bace2 100%, #406aff 117.04%);
  box-shadow: 0px 5px 117px 0px rgba(255, 86, 246, 0.5098039216);
}

.subscribe {
  display: flex;
  align-items: center;
}
.subscribe__image {
  flex: 1;
  width: 698.65px;
  height: 289.63px;
  border-radius: 4.42px;
}
.subscribe__content {
  flex: 2;
  padding-left: 60px;
}
.subscribe__content__title {
  font-family: Orbitron, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0;
  text-align: left;
  color: #ffffff;
}
.subscribe__content__text {
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #ffffff;
  word-wrap: break-word;
}
.subscribe__content__input {
  color: #474a57;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0;
  text-align: left;
  padding: 16px 18px 16px 18px;
  border-radius: 5.53px 0 0 5.53px;
}
.subscribe__content__btn {
  width: 143.71px;
  height: 48.64px;
  border-border: 2.41px solid transparent;
  border-radius: 0 5.53px 5.53px 0;
  border-image-source: linear-gradient(272.52deg, #ffa6fa 47.49%, #3c79d5 98.81%);
  border-image-slice: 1;
  border-image-width: 2.41px;
  border-image-outset: 0;
  cursor: pointer;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(92.23deg, #ff56f6 21.43%, #b936ee 50.63%, #3bace2 100%, #406aff 117.04%), linear-gradient(272.52deg, #ffa6fa 47.49%, #3c79d5 98.81%);
  background-origin: border-box;
  box-shadow: 0px 5px 117px 0px rgba(255, 86, 246, 0.5098039216);
}

.footer {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 0;
  border-right: 0;
}

.footer__column {
  flex: 1;
  padding: 10px;
}
.footer__column__logo {
  width: 17px;
  height: 27px;
  mask-mode: luminance;
  fill: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  box-shadow: 0px 4.421836853px 107.2295455933px 0px rgba(255, 86, 246, 0.51);
}
.footer__column__logo-text {
  font-family: Orbitron, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}
.footer__column__title {
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}
.footer__column__text, .footer__column__list {
  list-style: none;
  padding: 0;
  color: #D9DBE1;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
}
.footer__column__span {
  font-family: MuseoModerno, cursive;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #2EC5CE;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #D9DBE1;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}

.copyright__text {
  margin-right: auto;
}

.copyright__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.copyright__list__link {
  padding: 0 10px;
  border-right: 1px solid #D9DBE1;
  color: #D9DBE1;
  text-decoration: none;
}
.copyright__list li:last-child a {
  border-right: 0;
}

/*# sourceMappingURL=style.css.map */
