
$font-Orbitron: Orbitron, sans-serif;
$font-Aldrich: Aldrich, sans-serif;
$font-Inter: Inter, sans-serif;
$font-Spartan: League Spartan, sans-serif;
$font-MuseoModerno: MuseoModerno, cursive;
$font-Rajdhani: Rajdhani, sans-serif;
$font-Roboto: Roboto, sans-serif;
